*{
    box-sizing: border-box;
}
body#loginYsignin{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
/*Iniciar Sesión y Registrarse*/
body.iniciosesion {
    background: url(../img/iniciosesion.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
body#registrarse {
    background: url(../img/registrarse.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.formulario{
    background: #fff;
    margin-top: 100px;
}
h1#ttl{
    padding-top: 20px;
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
h3#ttl3{
    margin: 0;
    flex: 1; /* El texto ocupa el espacio restante */
}
img#imagenform{
    padding-top: 4px;
    width: 35px;
    height: 35px;
    text-align: center;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon {
    width: 35px;
    height: 35px;
    margin-right: 10px; /* Espacio entre el icono y el texto */
}
.imput-contenedor {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
}
.button{
    border: none;
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600px;
}
.link:hover{
    color: cadetblue;
}
@media(min-width: 768px){
    .formulario{
        margin-top: 150px;
        width: 500px;
        margin:auto;
        border-radius: 2%;
    }
}

<<<<<<< HEAD
/* Estilos para el menú */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; /* Color de fondo del menú */
    position: fixed; /* Fijar el menú en la parte superior */
    top: 0; /* Posición superior */
    width: 100%; /* Ancho del menú */
    z-index: 1000; /* Superposición a otros elementos */
=======

/*menu*/
.container{
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 2;
    padding: 0 10px;
}
.logo{
    color: #fff;
    padding: 15px;
}
.Nombre{
    position: absolute;
    padding-left: 210px;
}
.juego{
    position: absolute;
    padding-left: 600px;
    padding-top: 15px;
    word-spacing: 20px;
>>>>>>> a72fac52fb9ab3bd66dc4b92cdda7226196f2a68
}

/* Estilos para el logo */
.menu .logo img {
    height: 40px; /* Altura del logo */
}

/* Estilos para los enlaces de navegación */
.menu .nav-links,
.menu .auth-links {
    list-style: none; /* Elimina marcadores de lista */
    padding: 0;
    margin: 0;
    display: flex; /* Flexbox para disposición */
}

/* Estilos para los enlaces de navegación */
.menu .nav-links a {
    margin: 0 10px; /* Espacio entre elementos */
    color: white;
    text-decoration: none;
    padding: 10px;
}
.menu .auth-links a {
    margin: 0 10px; /* Espacio entre elementos */
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}
.menu .auth-links a{
    background-color: #fae017;
}
/* Cambia el color de fondo cuando se pasa el mouse sobre un enlace */
.menu .nav-links a:hover {
    background-color: #2d2d2d;
}
.menu .auth-links a:hover{
    background-color: #ffec5c;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    /* Estilos para reducir el tamaño de los enlaces de navegación y autenticación en pantallas pequeñas */
    .menu .nav-links,
    .menu .auth-links {
        flex-direction: column; /* Disponer los elementos en columna */
        align-items: center; /* Centrar los elementos */
        height: 100px;
       
    }
    
    /* Ajustar el tamaño de las fuentes y espacios */
    .menu .nav-links li,
    .menu .auth-links a {
        margin: 5px 0; /* Reducir espacios entre elementos */
        font-size: 14px; /* Ajustar el tamaño de la fuente */
    }
    .menu .nav-links li {
        padding: 0px;
    }
    .menu .auth-links a {
        padding: 5px;
    }
}

/*inicio*/
.container2{
    width: 100%;
    height: 2000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background: url(../img/inicio.jpg);
    background-repeat: repeat-x;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: -1; 
}

.nombrejuego h1{
    font-family: fantasy;
    color: #D0A933;
    font-size: 100px;
    position:absolute;
    margin-top: -80px;
    margin-left: 420px; 
    text-shadow: 2px 2px 5px #0f0e0e;
}
.azul{
    width: 100%;
    height: 2000px;
    background-color: rgb(171, 186, 255,0.75);
    position:absolute;
    margin-top: 500px;
}
.textoinicio{
        width: 100%;
        height: 300px;
        
}
.textoamarillo1 h2{
    color: #DDBD3C;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    position: absolute;
    margin-top: 150px;
    margin-left: 260px;
    text-shadow: 2px 2px 5px #0f0e0e;
}
.textoamarillo1 h3{
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    position: absolute;
    margin-top: 152px;
    margin-left: 560px;
}
.textoamarillo2 h2{
    color: #DDBD3C;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    position: absolute;
    margin-top: 150px;
    margin-left: 800px;
    text-shadow: 2px 2px 5px #0f0e0e;
}
.textoamarillo2 h3{
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    position: absolute;
    margin-top: 155px;
    margin-left: 910px;
}
.textoamarillo4 h2{
    color: #DDBD3C;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    position: absolute;
    margin-top: 225px;
    margin-left:  490px;
    text-shadow: 2px 2px 5px #0f0e0e;
}
.textoamarillo4 h3{
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    position: absolute;
    margin-top: 229px;
    margin-left: 740px;
}
.somos{
    width: 100%;
    height: 600px;
    position: relative;
    background-color: #D0A933;
}
.somos img{
    width: 400px;
    height: auto;
    position: absolute;
    margin-left: 950px;
    margin-top: 100px;
    
}
.somos h1{
    text-shadow: 2px 2px 5px #0f0e0e;
    color: #DDBD3C;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    margin-top: 20px;
    margin-left: 300px;
}
.somostexto{
    padding-top: 150px;
    width: 800px;
    height: auto;
    position: absolute;
    margin-left: 40px;
}
.somostexto p{
font-size: 20px;
color: beige;
text-shadow: 2px 2px 5px rgb(15, 14, 14, 0.75);
}
.juego a{
    color: white;  
}
.noticias{
    width: 100%;
    height: 600px;
    position: absolute;
    margin-top: 1400px;
    background-color: #33c0d0;
}

@media screen and (max-width: 768px) {
    /* Cambios para pantallas más pequeñas */
    .Nombre, .juego {
        padding-left: 0;
        padding-top: 5px;
    }

    .IniciarSesion {
        width: auto;
        padding: 10px;
        top: 15px;
        right: 10px;
    }

    /* Ajusta la disposición de los elementos de navegación en pantallas pequeñas */
    .container {
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }

    .juego {
        order: 1;
        padding: 10px;
    }

    .Nombre {
        order: 2;
    }

    .IniciarSesion {
        order: 3;
    }
}

/* Más media queries para otros puntos de quiebre si es necesario */
@media screen and (max-width: 800px) {
    /* Cambios para pantallas aún más pequeñas */
    /* Ajusta tamaños, márgenes, y posiciones para pantallas muy pequeñas */
    .Nombre{
        display: none; /* Oculta elementos no esenciales en pantallas muy pequeñas */
    }
}
@media screen and (max-width: 1000px) {
    /* Cambios para pantallas aún más pequeñas */
    /* Ajusta tamaños, márgenes, y posiciones para pantallas muy pequeñas */
    .juego {
        display: none; /* Oculta elementos no esenciales en pantallas muy pequeñas */
    }
}